<h1>{{title}}</h1>
  <div class="col-md-4" id="userinput">
    <br>
      <p>Note</p>
      <textarea class="form-control" id="note"></textarea>
    <div id="buttons">
      <div id="actionbutton">
        <button class="btn btn-default btn-sm active" id="makenew">Leave a note!</button>
      </div>
      <button class="btn btn-default btn-sm active" id="clearall">Delete All Notes</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12">
      <button class="btn btn-default league" id="nba">NBA</button>
      <button class="btn btn-default league" id="nfl">NFL</button>
      <button class="btn btn-default league" id="mlb">MLB</button>
      <button class="btn btn-default league" id="nhl">NHL</button>
      <button class="btn btn-default league" id="college-football">College</button>
    </div>
  </div>
  <div class="col-md-4">
    <br>
    <p>Article</p>
    <div id="results">
      {{#each results}}
        <p>
          {{this.league}}
          {{this.headline}}
          {{this.link}}
          {{this.text}}
          {{this.viewed}}
        </p>
      {{/each}}
    </div>
  </div>
